@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eee;
  height: 100%;
}

#app {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  min-height: 100%;
  padding: 40px;
}

a {
  color: #9c88ff;
  cursor: pointer;
  border-radius: 3px;
}

a:hover,
a:focus,
a:active {
  color: #8c7ae6;
}

small {
  font-size: 0.7em;
  font-weight: 500;
  color: #999;
}

strong {
  font-weight: 500;
}

p {
  margin-bottom: 0.6em;
}

h4 {
  font-size: 1.2em;
  font-weight: 300;
}

.push-top {
  margin-top: 10px;
}

.pad-top {
  padding-top: 10px;
}

input[type=text],
input[type=email],
input[type=search],
select {
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  padding: 8px;
  display: block;
  min-width: 200px;
  -webkit-appearance: none;
  appearance: none;
  background: #fff;
}

select {
  background-image: url('/static/select-arrow.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 10px);
}

input[type=text]:focus,
input[type=email]:focus,
input[type=search]:focus,
select:focus {
  border-color: #9c88ff;
}

.checkbox-label {
  cursor: pointer;
}

.checkbox-label:hover,
input[type=checkbox]:focus + .checkbox-label,
input[type=checkbox]:hover + .checkbox-label,
input[type=checkbox]:checked + .checkbox-label {
  color: #9c88ff;
}

.with-border-top {
  border-top: 1px solid #ddd;
}
