@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

body {
  margin: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

small {
  font-size: 0.7em;
  font-weight: 500;
  color: #999;
}

strong {
  font-weight: 500;
}

p {
  margin-bottom: 0.6em;
}

h4 {
  font-size: 1.2em;
  font-weight: 300;
}

.push-top {
  margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="search"] {
  border: 1px solid #ccc;
  outline: none;
  padding: 8px;
  border-radius: 3px;
}

input[type="text"],
input[type="email"],
input[type="search"],
select {
  display: block;
}
